@font-face {
    font-family: 'feather';
    src: url('../fonts/p6xLRx2pAoi9.eot');
    src: url('../fonts/p6xLRx2pAoi9.eot#iefix') format('embedded-opentype'),
    url('../fonts/Cw8qGoJdXMHk.ttf') format('truetype'),
    url('../fonts/8g2VJJMqUIiy.woff') format('woff'),
    url('../images/9yI61C4Lk4Fg.svg#feather') format('svg');
    font-weight: normal;
    font-style: normal;
}