.img_extra_styles {
    left: 35px !important;
    top: 150px !important;
}

.ann_inline_1717194198 {
    background-image: url('./images/Team/executive-body.jpeg');
    background-position: contain;
}

.ann_inline_2129736629 {
    background-image: url('./images/Team/team-content-writing.jpg');
    background-position: contain;
}

.ann_inline_889607625 {
    background-image: url('./images/Team/team-creativity.jpg');
    background-position: contain;
}

.ann_inline_1177213082 {
    background-image: url('./images/Team/team-event-management-and-logistics.jpg');
    background-position: contain;
}

.ann_inline_2028003147 {
    background-image: url('./images/Team/team-graphics.jpg');
    background-position: contain;
}

.ann_inline_889607625 {
    background-image: url('./images/Team/team-creativity.jpg');
    background-position: contain;
}

.ann_inline_889607625 {
    background-image: url('./images/Team/team-creativity.jpg');
    background-position: contain;
}

.ann_inline_889607625 {
    background-image: url('./images/Team/team-creativity.jpg');
    background-position: contain;
}

.ann_inline_456749326 {
    background-image: url('./images/Team/team-hr-and-registeration.jpg');
    background-position: contain;
}

section.elementor-section.elementor-top-section.elementor-element.elementor-element-8b47906.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.sc_fly_static.trx_addons_parallax_layers_inited.trx_addons_parallax_blocks_inited {
    display: none;
}

.sc_icons_accent .sc_icons_item_title {
    font-size: 1.2em;
    line-height: 0.5em;
}

.scroll_to_top_style_default {
    width: 2.7em;
    height: 2.7em;
    line-height: 2.7em;
    text-align: center;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    color: var(--theme-color-inverse_link);
    border-color: #6600ff;
    background-color: #6600ff;
}

.elementor-3512 .elementor-element.elementor-element-e4105da.elementor-view-stacked .elementor-icon {
    background-color: #6600ff;
    color: #FFFFFF;
}